*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
~$*
*.tmp
.idea/
app logo.jpeg
fdadfd0.drawio (1).png
food app documentation.pdf
google icon.png
